<div class="row">
    <div class="col-6">
        <app-doughnut-graph
        [title]="title1"
        [labels]="labels1"
        [data]="data1"
        >
    </app-doughnut-graph>
    </div>
    <div class="col-6">
        <app-doughnut-graph
        [title]="title1"
        [labels]="labels1"
        [data]="data1"
        >
    </app-doughnut-graph>
    </div>
    <div class="col-6">
        <app-doughnut-graph
        [title]="title1"
        [labels]="labels1"
        [data]="data1"
        >
    </app-doughnut-graph>
    </div>
    <div class="col-6">
        <app-doughnut-graph
        [title]="title1"
        [labels]="labels1"
        [data]="data1"
        >
    </app-doughnut-graph>
    </div>
</div>